POSTGRES_USER=your_postgres_user
POSTGRES_PW=your_postgres_password
POSTGRES_DB=your_database_name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
TOKEN_TELEGRAM_LIO=your_telegram_bot_token
MAX_CONCURRENCY=4
OLLAMA_URL=ollama_url
ALLOWED_TELEGRAM_USER_IDS=telegram_ids
